<footer class="footer-section">

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 text-sm-left text-center">
          <span class="copy-right-text">© 2023 <a href="https://codepen.io/anupkumar92">Anup</a> All Rights Reserved.</span>
        </div>
        <div class="col-md-6 col-sm-6">
          <ul class="terms-privacy d-flex justify-content-sm-end justify-content-center">
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- footer-bottom end -->
</footer>
